
.app{
    &__layout{
        position: relative;
        background: #FFE9F3;
        position: relative;
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 250px 1fr;
        grid-template-areas:
            "sidemenu instrument"
            "sidemenu content";
        height: 100%;
        &--sidemenu{
            background: #FF715B;
            grid-area: sidemenu;
            padding: 1em;
            border-right: 6px solid lighten(#FF715B, 5);
            @include elevation(4);
        }
        &--instrument{
            background: #FFF;
            grid-area: instrument;
            padding: 0;
            @include elevation(2);
            div {
                height: 100%;
              }
        }
        &--content{
            grid-area: content;
            padding: 1em;
        }
    }
}